* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mobile-nav {
  border: 2px solid black;
  padding: 8px;
  display: none;
}

.desktop-nav {
  display: flex;
  border: 2px solid black;
  padding: 8px;
  justify-content: space-between;
}

.desktop-nav ul {
  display: flex;
  gap: 16px;
}

.desktop-nav ul li {
  /* list-style: none; */
  list-style-type: none;
}

@media (max-width: 460px) {
  .mobile-nav {
    display: flex;
  }
  .desktop-nav {
    display: none;
  }
}
